.banner{
    padding: 1rem 5rem 1rem 5rem;
    display: flex;
    /* align-items: center; */
    background-color: #f3f3f3;
    justify-content: space-between;
}
.banner-desc .heading{
    font-size: 3rem;
    font-weight: 200;
}
.banner-desc p{
    margin: 10px 0px;
    color: gray;
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
}
.content{
    padding: 4rem 5rem 0rem 5rem;

}
.banner button i{
    font-size: 17px;
}
.banner button{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: black;
    padding: 12px 18px;
    outline: none;
    border: none;
}
.banner-img img{
    width: 40rem;
    object-fit: cover;
}
